:root {
    zoom: 60%;
}


.title {
    font-style: italic;
    font-family: serif;
    width: 100%;
    font-size: 10rem;
    text-align: center;
}

:root {
    background-color: rgb(92, 154, 5);
    
}

.sketch {
    width: 640px;
    border: 2px solid black;
    height: 480px;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 20px;
    text-align: center;
  }

